<section
  id="contact"
  class="bg-black py-16 bg-cover text-center py-8 text-white w-full">
  <div class="flex flex-col py-8 px-4 w-full">
    <div class="col-12">
      <h2 class="text-3xl mb-2 font-roboto">
        Do you have an interesting project?
      </h2>
      <h4 class="mt-16 mb-16 text-2xl font-roboto">
        If you have an interesting project and you want it to be done perfectly,
        don't hesitate to contact me!
      </h4>
      <a
        class="mt-16 bg-transparent border-2 solid py-1 px-2 border-white text-white text-xl font-roboto hover:border-black hover:bg-white hover:text-black"
        href="mailto:me@filiphiker.com">CONTACT ME!</a
      >
    </div>
  </div>
</section>
