<style>
  .bgImg {
    background-image: url("../assets/intro.png");
  }
</style>

<section id="home">
  <div
    class="bgImg bg-cover bg-no-repeat relative pt-20 pb-20 w-full h-screen flex justify-center">
    <div
      class="center text-center top-1/2 left-1/2 min-h-200px align-middle flex flex-col gap-6 justify-center">
      <p
        class="text-black tracking-tight font-roboto font-bold self-center text-5xl md:text-7xl">
        HELLO, I AM FILIP
      </p>
      <span class="text-black tracking-tight font-semibold text-xl"
        >I am Frontend JS/TS programmer</span
      >
      <a
        href="#projects"
        class="ml-auto mr-auto p-1.5 pl-3 pr-3 mt-5 font-roboto uppercase text-base font-medium border-15px border-2 border-black text-white bg-black hover:bg-white hover:text-black"
        >See my projects</a
      >
    </div>
  </div>
  <div class="p-0 absolute bottom-0 left-1/2 -ml-2">
    <a
      href="#about"
      class="w-10 h-10 text-black text-3xl block bottom-2.5 animate-bounce"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-caret-down-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        ></path>
      </svg></a
    >
  </div>
</section>
