<section id="services" class="text-center text-zinc-900 bg-zinc-100 pb-8">
  <div class="py-8 px-8">
    <div>
      <h2 class="text-zinc-900 text-3xl font-roboto">My Values</h2>
    </div>
  </div>

  <div
    class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl mx-auto w-full px-8">
    <div class="flex flex-wrap -mr-4 -ml-4">
      <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0 px-4">
        <div
          class="group bg-white border-b-4 border-black p-2 mb-8 h-full hover:bg-black hover:border-white transition-all duration-500">
          <div
            class="bg-black rounded-full p-2 w-12 h-12 relative mt-8 mb-2 ml-auto mr-auto group-hover:bg-white transition-all duration-500">
            <i class=""
              ><svg
                class="h-8 w-8 text-white group-hover:text-black transition-all duration-500"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <rect x="3" y="4" width="18" height="12" rx="1"></rect>
                <line x1="7" y1="20" x2="17" y2="20"></line>
                <line x1="9" y1="16" x2="9" y2="20"></line>
                <line x1="15" y1="16" x2="15" y2="20"></line></svg
              ></i
            >
          </div>
          <h3
            class="mt-3 text-2xl group-hover:text-white transition-all duration-500">
            Web Design
          </h3>

          <p class="m-6 group-hover:text-white transition-all duration-500">
            I ensure that your applications are intuitive, accessible, and
            provide a positive user experience
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0 px-4">
        <div
          class="group bg-white border-b-4 border-black p-2 mb-8 h-full hover:bg-black hover:border-white transition-all duration-500">
          <div
            class="bg-black rounded-full p-2 w-12 h-12 relative mt-8 mb-2 ml-auto mr-auto group-hover:bg-white transition-all duration-500">
            <i class=""
              ><svg
                class="h-8 w-8 text-white group-hover:text-black transition-all duration-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </i>
          </div>
          <h3 class="mt-3 text-2xl group-hover:text-white transition-all">
            Coding
          </h3>

          <p class="m-6 group-hover:text-white transition-all">
            I stay updated with new JavaScript frameworks, libraries, and best
            practices to keep my skills relevant
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0 px-4">
        <div
          class="group bg-white border-b-4 border-black p-2 mb-8 h-full hover:bg-black hover:border-white transition-all duration-500">
          <div
            class="bg-black rounded-full p-2 w-12 h-12 relative mt-8 mb-2 ml-auto mr-auto group-hover:bg-white transition-all duration-500">
            <i class=""
              ><svg
                class="h-8 w-8 text-white group-hover:text-black transition-all duration-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
              </svg>
            </i>
          </div>
          <h3 class="mt-3 text-2xl group-hover:text-white transition-all">
            Clean Code
          </h3>

          <p class="m-6 group-hover:text-white transition-all">
            I believe in the power of clean, efficient, and maintainable code
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 py-4 lg:py-0 px-4">
        <div
          class="group bg-white border-b-4 border-black p-2 mb-8 h-full hover:bg-black hover:border-white transition-all duration-500">
          <div
            class="bg-black rounded-full p-2 w-12 h-12 relative mt-8 mb-2 ml-auto mr-auto group-hover:bg-white transition-all duration-500">
            <i class="fa fa-joomla"
              ><svg
                class="h-8 w-8 text-white group-hover:text-black transition-all duration-500"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <rect x="2" y="6" width="20" height="12" rx="2"></rect>
                <path d="M6 12h4m-2 -2v4"></path>
                <line x1="15" y1="11" x2="15" y2="11.01"></line>
                <line x1="18" y1="13" x2="18" y2="13.01"></line></svg
              ></i
            >
          </div>
          <h3 class="mt-3 text-2xl group-hover:text-white transition-all">
            Complex UI/UX
          </h3>

          <p class="m-6 group-hover:text-white transition-all">
            I enjoy creating complex and vibrant user interactivity components.
            Skill earned from years of working in board/slot game developement
            environment
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
