<section
  class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl mx-auto w-full px-8 pb-8">
  <div class="text-center pt-8">
    <h3 class="text-zinc-900 text-3xl font-roboto">My Skills</h3>
  </div>
  <div>
    <div class="mb-5 pt-10">
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          HTML
        </h6>
        <div class="relative bg-zinc-300">
          <div
            class="relative h-1 bg-black transition-all"
            style="width: 100%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          CSS
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 82%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          Javascript
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 75%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          Typescript
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 69%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          Phaser
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 25%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          PixiJS
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 90%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <h6 class="text-sm mb-3 text-zinc-900 font-semibold font-roboto">
          Astro
        </h6>
        <div class="relative bg-zinc-300">
          <div class="relative h-1 bg-black transition-all" style="width: 70%;">
            <!-- Edit skill level here -->
            <span
              class="w-3 h-3 rounded-full bg-black absolute -right-px -top-1"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
